.page {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: calc(100vh - 50px);
  justify-content: center;
  align-items: center;
}

.option {
  font-size: 25px;
  width: 115px;
  height: 90px;
}
